@model List<WebSite.EndPoint.Areas.Admin.Models.Product.ListProductVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "NotConfirmProduct";
}

<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">لیست محصولات بارگذاری شده جهت تأیید</span>
    </div>
    @if (TempData["error"] is not null)
    {
        <div id="tempErrorContainer" class="row pageMargin">
            <p class="error-text">@TempData["error"].ToString()</p>
        </div>

    }

    <div class="row pageMargin">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام محصول</th>
                    <th>نام قطعه ساز</th>
                    <th>گروه اصلی</th>
                    <th>گروه فرعی</th>
                    <th>تأیید</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="td-Icon">@item.RowNum</td>
                        <td>@item.Name</td>
                        <td>@item.CompanyName</td>
                        <td>@item.CategoryName</td>
                        <td>@item.SubCategoryName</td>
                        <td class="td-Icon">
                            <a href="@Url.Action("ConfirmProduct","Product",new { Area = "Admin",productId = item.Id })">
                                <img class="img-Icon" src="~/images/confirm.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        // new DataTable('#myTable');
                    $('#myTable').DataTable({
                language: {
                    "emptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                    "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "infoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                    "infoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                    "lengthMenu": "نمایش _MENU_ رکورد در هر صفحه",
                    "loadingRecords": "در حال بارگذاری...",
                    "processing": "در حال پردازش...",
                    "search": "جستجو:",
                    "zeroRecords": "رکوردی با این مشخصات پیدا نشد",
                    "paginate": {
                        "first": "اولین",
                        "last": "آخرین",
                        "next": "بعدی",
                        "previous": "قبلی"
                    },
                    "aria": {
                        "sortAscending": ": فعال‌سازی مرتب‌سازی صعودی",
                        "sortDescending": ": فعال‌سازی مرتب‌سازی نزولی"
                    }
                }
            });

            setTimeout(function() {
                var errorMsg = document.getElementById("tempErrorContainer");
                if (errorMsg) {
                    errorMsg.style.display = "none";
                }
            }, 5000);  // 5000 میلی‌ثانیه = 5 ثانیه

    </script>
}