@model List<WebSite.EndPoint.Areas.Admin.Models.Product.ListProductVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section CSS
{
    <style>
        table img {
            width: 30px;
            height: 30px;
        }
    </style>
}
<div class="container-fluid">
    @if (TempData["error"] is not null)
    {
        <div class="row">
            <p style="color:red;">@TempData["error"].ToString()</p>
        </div>
    }
    <div class="row">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام محصول</th>
                    <th>نام قطعه ساز</th>
                    <th>گروه اصلی</th>
                    <th>گروه فرعی</th>
                    <th>تأیید</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="td-Icon">@item.RowNum</td>
                        <td>@item.Name</td>
                        <td>@item.CompanyName</td>
                        <td>@item.CategoryName</td>
                        <td>@item.SubCategoryName</td>
                        <td class="td-Icon">
                            <a href="@Url.Action("ConfirmProduct","Product",new { Area = "Admin",productId = item.Id })">
                                <img class="img-Icon" src="~/images/confirm.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        new DataTable('#myTable');

    </script>
}