@model List<WebSite.EndPoint.Areas.Admin.Models.SubCategory.ListSubCategoryVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "SubCategory";
}
<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">لیست گروه فرعی</span>
    </div>
    @if (TempData["error"] is not null)
    {
        <div id="tempErrorContainer" class="row">
            <p class="error-text">@TempData["error"].ToString()</p>
        </div>

    }

    <div class="row">
        <a href="@Url.Action("NewSubCategory","SubCategory")" id="new" class="text-black btn-submit btn-block a-btn-new a-btn-new170">
            <span class="text-btn">افزودن گروه فرعی جدید</span>
        </a>
        @* <a href="@Url.Action("NewSubCategory","SubCategory")" id="new"> <img class="img-Icon" src="~/images/addition copy.png" /> </a> *@
    </div>
    <div class="row">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>نام گروه اصلی</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="td-Icon">@item.RowNum</td>
                        <td>@item.Name</td>
                        <td>@item.CategoryName</td>
                        <td class="td-Icon"><a href="@Url.Action("EditSubCategory","SubCategory",new{area="Admin",id = item.Id})"><img class="img-Icon" src="~/images/editing.png" /></a></td>
                        <td class="td-Icon"><a onclick="return DeleteRow(event)" href="@Url.Action("DeleteSubCategory","SubCategory",new{area="Admin",id = item.Id})"><img class="img-Icon" src="~/images\recycle.png" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        // new DataTable('#myTable');
                    $('#myTable').DataTable({
                language: {
                    "emptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                    "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "infoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                    "infoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                    "lengthMenu": "نمایش _MENU_ رکورد در هر صفحه",
                    "loadingRecords": "در حال بارگذاری...",
                    "processing": "در حال پردازش...",
                    "search": "جستجو:",
                    "zeroRecords": "رکوردی با این مشخصات پیدا نشد",
                    "paginate": {
                        "first": "اولین",
                        "last": "آخرین",
                        "next": "بعدی",
                        "previous": "قبلی"
                    },
                    "aria": {
                        "sortAscending": ": فعال‌سازی مرتب‌سازی صعودی",
                        "sortDescending": ": فعال‌سازی مرتب‌سازی نزولی"
                    }
                }
            });

        function DeleteRow(event){
            var isConfirmd= confirm("آیا از حذف این ردیف اطمینان دارید ؟")
            if(!isConfirmd){
                event.preventDefault();
                return false;
            }
            else{
                return true;
            }

        }
        setTimeout(function() {
                var errorMsg = document.getElementById("tempErrorContainer");
                if (errorMsg) {
                    errorMsg.style.display = "none";
                }
            }, 5000);  // 5000 میلی‌ثانیه = 5 ثانیه
    </script>
}

