@using AQS_Application.Interfaces.IServices.IdentityServices
@using AQS_Application.Interfaces.IServices.BaseServices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILoginService _loginService
@inject IRegistrationService _registrationService
@inject INotificationService _NotificationService
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>داشبورد</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/css/datatables.min.css" rel="stylesheet" />

    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/css/rtl.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/animate.min.css" type="text/css" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/skin-blue.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- customize adminlte -->
    <link href="~/css/customize-adminlte.css" rel="stylesheet" />
    <link href="~/css/CustomDashboard.css" rel="stylesheet" />
    <link rel="icon" href="~/images/cropped-fav-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/images/cropped-fav-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/images/cropped-fav-180x180.png" />
    <meta name="msapplication-TileImage" content="~/images/cropped-fav-270x270.png" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/rte_theme_default.css" rel="stylesheet" />
    @await RenderSectionAsync("CSS", required: false)
    <style>

        body {
            min-height: 100vh!important;
        }
        .wrapper{
            min-height: 100vh!important;
        }

    </style>
 

    <script>
        function GetProfile () {
            document.querySelector('#getPorfile').click();
        }

        $("#getPorfile").on('change',function(){
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // ایجاد یا جایگزینی تصویر در باکس
                    const img = $("<img>")
                    .attr("src", e.target.result)
                    .addClass("img")
                    .addClass("prevImage");

                    $("#preview").empty().append(img);
                };
                reader.readAsDataURL(file);
            } else {
                $("#preview").html("پیش‌نمایش");
            }
        });
    </script> 
</head>

<body class="hold-transition skin-blue sidebar-mini bodyCompany">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="row nav-cls">
                    <div class="col-md-4 displayInline">
                        <ul class="nav navbar-nav">
                            <!-- Back to home page -->
                            <li class="dropdown notifications-menu displayInline">
                                <a href="/" class="dropdown-toggle">
                                    <img class="nav-Icon" src="~/images/home.png" />
                                </a>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu displayInline">
                                @{
                                    var unSeenNotif = await _NotificationService.ReadAllUnSeen(await _loginService.GetUserIdAsync(User));
                                }
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="nav-Icon" src="~/images/notification copy.png">
                                    <span class="label label-warning">@unSeenNotif.Count</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">@unSeenNotif.Count اعلان جدید</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">

                                            @foreach (var item in unSeenNotif)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i> @item.Subject
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="footer"><a asp-area="Company" asp-controller="Notification" asp-action="NotifList">نمایش همه</a></li>
                                </ul>
                            </li>
                            <!-- Show Date -->
                            <li class="dropdown notifications-menu displayInline">
                                @{
                                    var nowDatePersian = DateTime.Now.ToPersianDateWithFormat();
                                }
                                <p class="nav-Date">  @nowDatePersian </p>
                            </li>
                        </ul>
                    </div>
                    <!-- Hello to user -->
                    <div class="col-md-6 welcome hide-on-sm displayInline">
                        <p class="nav-welcome">به انجمن قطعه سازان موتور سیکلت خوش آمدید </p>
                    </div>
                    <!-- Welcome text -->
                    <div class="col-md-2 companyName">
                        <div class="nav-companyName">
                            <img class="nav-NameIcon" src="~/images/user.png" />
                            @{
                                var managerName = "";
                                if (User.Identity.IsAuthenticated)
                                {
                                    managerName = await _loginService.GetManagerNameByClaims(User);
                                }
                                if (managerName != null)
                                {
                                    <span> @managerName</span>
                                }
                                else
                                {
                                    <span>نام شرکت ثبت نشده است</span>
                                }
                            }

                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <div class="container-fluid">
            <div class="col-md-2 menu">
                <div class="profile-Pic">
                    <button class="profile-Pic-btn" onclick="GetProfile()">
                        <img class="profile-Pic-img" src="~/images/add user.png" />
                    </button>
                    <input id="getPorfile" class="form-control-file notDisplay" type="file" name="img" accept="image/*">
                </div>
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu menu-Item" data-widget="tree">
                        <!-- User Profile -->
                        <li class="@(ViewData["SelectedCompany"]=="Profile"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=EditCompanyProfile>
                                <img class="nav-NameIcon" src="~/images/user.png" />
                                <span class="menu-Item-Text">پروفایل کاربری</span>
                            </a>
                        </li>
                        <!-- Change Password -->
                        <li class="@(ViewData["SelectedCompany"]=="ChangePassword"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=ChangePassword>
                                <img class="nav-NameIcon" src="~/images/lock copy.png" />
                                <span class="menu-Item-Text">تغییر رمز عبور</span>
                            </a>
                        </li>
                        <li class="@(ViewData["SelectedCompany"]=="Gallary"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyPicture asp-action=Pictures>
                                <img class="nav-NameIcon" src="~/images/image copy.png" />
                                <span class="menu-Item-Text">گالری تصاویر</span>
                            </a>
                        </li>
                        <li class="@(ViewData["SelectedCompany"]=="Teaser"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=EditTeaser>
                                <img class="nav-NameIcon" src="~/images/clapperboard copy.png" />
                                <span class="menu-Item-Text">تیزر تبلیغاتی</span>
                            </a>
                        </li>
                        <li class="@(ViewData["SelectedCompany"]=="Product"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=Product asp-action=ProductList>
                                <img class="nav-NameIcon" src="~/images/product copy.png" />
                                <span class="menu-Item-Text">محصولات</span>
                            </a>
                        </li>
                        <li class="@(ViewData["SelectedCompany"]=="Notif"?"activeAreasMenu":"") dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller="Notification" asp-action="NotifList">
                                <img class="nav-NameIcon" src="~/images/notification copy.png" />
                                <span class="menu-Item-Text">اعلان‌ها</span>
                            </a>
                        </li>
                        <li class=" dropdown notifications-menu Dashboard-hover">
                            <a asp-area="" asp-controller="Login" asp-action="LogOut">
                                <img class="nav-NameIcon" src="~/images/user.png" />
                                <span class="menu-Item-Text">خروج</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </div>

            <!-- Content Wrapper. Contains page content -->
            <div class="col-md-9 menu animated zoomIn animationTime">
                <!-- Content Header (Page header) -->
                <section  class="content container-fluid">
                    @RenderBody()
                </section>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer text-left footerStyle">
        </footer>

        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <script src="~/js/admin/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/admin/bootstrap.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <!-- RichTextEditor -->
    <script src="~/js/rte.js"></script>
    <script src="~/js/all_plugins.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>