@model WebSite.EndPoint.Models.CompanyViewModel.CompanyDetailVM
@{
    ViewData["Title"] = "CompanyDetail";
    ViewData["SelectedHome"] = "Company";
}
<style>
    .card {
        background-color: white;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .companyLogo {
        border-radius: 50%;
        background-color: #003C61;
        width: 100px;
        height: 100px;
        margin-right: 5px;
        margin: 5px auto
    }

    .companyInfo {
        background-color: #ECECEC;
        padding: 10px;
    }

    .aboutCompany {
        text-align: justify;
        text-justify: inter-word
    }

    .searchProduct {
        width: 100%;
        border: 0;
    }

    input::placeholder {
        color: #C3C3C3;
        text-align: center;
    }

    input:focus {
        outline: none;
    }

    .btnSearch {
        background-color: #00A2FF;
        width: 100%;
        align-items: center;
    }

    .productCard {
        background-color: #003C61;
        z-index: 1;
        height: 320px;
        position: relative;
    }

    .productDetail {
        color: #FFFFFF;
    }

    .productDetailLoc {
        text-align: center;
        bottom: 0px;
        z-index: 3;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 100%;
    }

    .productCard1 {
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 10px;
        width: 100%;
        height: 265px;
        position: relative;
    }

    .productName {
        color: #000000;
        font-size: 12px;
    }

    .productCard2 {
        background-color: #003C61;
        z-index: 3;
        border-radius: 10px;
        margin: 0 auto;
        height: 160px;
        width: 160px;
        position: relative;
        margin-top: 15px;
    }

    .hasImg {
        background-color: #FFFFFF;
    }

</style>
<div class="body-default container">
    <!-- Company Section -->
    <section style="padding:0;">
        <div style="justify-content: center;
                    align-items: center;
                    display: flex">
            @*//foreach data here*@
            <div class="card" style="width:100%">
                <div class="row mt-2">
                    <div class="col-md-3 my-2" style="text-align:center">
                        @if (!string.IsNullOrEmpty(Model.LogoRout))
                        {
                            <img src="@Model.LogoRout" class="img-fluid companyLogo">
                        }
                        else
                        {
                            <div class="companyLogo"></div>
                        }
                        <p>@Model.Name</p>
                    </div>
                    <div class="col-md-8 my-2">
                        <div class="companyInfo">
                            <i class="fa fa-user fa-lg"></i><span class="p-2">@Model.ManagerName</span>
                            <br />
                            <i class="fa fa-phone fa-lg"></i><span class="p-2">@Model.Tel</span>
                            <br />
                            <i class="fa fa-map"></i><span class="p-2">@Model.Address</span>
                            <br />
                            <i class="fa fa-envelope"></i><span class="p-2">@Model.Email</span>
                            <br />
                            <i class="fa fa-globe fa-lg"></i><span class="p-2">@Model.Website</span>
                            <br />
                            <i class="fa fa-star fa-lg"></i><span class="p-2">@Model.Information</span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.About))
        {
            <div class="card">
                <div class="row mt-2">
                    <div class="col-md-2 my-2 " style="text-align:center">
                        <p style="color:#003C61">درباره شرکت:</p>
                    </div>
                    <div class="col-md-9 my-2">
                        <p class="aboutCompany">
                            @Model.About
                        </p>
                    </div>
                </div>
            </div>

        }
        <div class="row">
            @if (Model.CompanyPictures != null && Model.CompanyPictures.Count > 0)
            {
                <div class="col-md-6 my-2">
                    <div class="card" style="height:300px;">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            @if (Model.CompanyPictures != null && Model.CompanyPictures.Count > 0)
                            {
                                <div class="carousel-inner">
                                    @{
                                        int c = 0;
                                        foreach (var item in Model.CompanyPictures)
                                        {
                                            <div class="carousel-item @(c==0?"active":"")" style="width:80%">
                                                <img style="aspect-ratio: 16 / 9; height:290px; padding-right:30%;"
                                                     src="@item"
                                                     class=" img-fluid d-block w-100"
                                                     alt="...">
                                            </div>
                                            c++;
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            }
            @if (!string.IsNullOrEmpty(Model.TeaserGuid))
            {
                <div class="col-md-6 my-2">
                    <div class="card" style="height:300px;">
                        <video muted src="@Model.TeaserGuid" controls>
                        </video>
                    </div>
                </div>

            }
        </div>
    </section>
    <!-- Product Section -->
    <section style="padding:0">
        <div class="card" style="height:30px; text-align:center">
            <p>محصولات</p>
        </div>
        <div class="row">
            @* foreach products here *@
            <div class="col-md-6">
                <form asp-action="SearchCompanyProduct" asp-controller="Company">
                    <div class="row mt-2">
                        <input hidden name="companyId" value="@Model.Id" />
                        <div class="col-md-8 my-2">
                            <input name="name" class="card searchProduct p-1" placeholder="نام محصول را وارد کنید:" />
                        </div>
                        <div class="col-md-4 my-2">
                            <button class="card btnSearch">
                                جستجو
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (Model.Products != null)
            {
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-4 my-2">
                        <div class="card productCard">
                            <a href="@Url.Action("ProductDetail","Product",new{productId=item.Id})"
                               class="productDetailLoc"><span class="productDetail">اطلاعات محصول</span></a>
                            <div class="productCard1">
                                <a class="productDetailLoc"><span class="productName">@item.Name</span></a>
                                <div class="productCard2 @(!string.IsNullOrEmpty(item.PictureFileName) ? "hasImg":"")">
                                    @if (!string.IsNullOrEmpty(item.PictureFileName))
                                    {
                                        <img class="img img-fluid productCard2" src="@item.PictureFileName" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</div>