@model List<WebSite.EndPoint.Models.CompanyViewModel.CompanyVM>
@{
    ViewData["Title"] = "CompanyList";
}
<style>
    .companyLogo {
        border-radius: 50%;
        background-color: #003C61;
        width: 100px;
        height: 100px;
        margin-right: 5px;
        margin: 5px auto
    }
    .hasImg{
        background-color: #FFFFFF;
    }
</style>
<div class="body-default container">
    <div class="row">
        <form>
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" placeholder="جستجوی فروشندگان" type="text" style="background-color:white" />

                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit" style="width:100%">اعمال</button>

                </div>
            </div>
        </form>
    </div>
    <div class="row mt-2">
        @foreach(var item in Model){
            <div class="col-md-6 my-2">
                <a href="@Url.Action("CompanyDetail","Company", new {companyId=item.Id})">
                    <div class="row mt-2"
                         style="background-color:white;
                        border-radius:10px;
                        margin:10px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="col-md-3 my-2" style="text-align:center">
                            <div class="companyLogo @(!string.IsNullOrEmpty(item.LogoRout) ? "hasImg":"")">
                                <img class="img img-fluid companyLogo" src="@item.LogoRout" />
                            </div>
                            <br/>
                            <p>@item.Name</p>
                        </div>
                        <div class="col-md-9 my-2">
                            <div style="background-color:#ECECEC; padding:10px;">
                                <i class="fa fa-user fa-lg"></i><span class="p-2">@item.ManagerName</span>
                                <br />
                                <i class="fa fa-phone fa-lg"></i><span class="p-2">@item.Tel</span>
                                <br />
                                <i class="fa fa-map"></i><span class="p-2">@item.Address</span>
                                <br />
                                <i class="fa fa-envelope"></i><span class="p-2">@item.Email</span>
                                <span></span><br />
                                <i class="fa fa-globe fa-lg"></i>
                                <span></span><br />
                                <i class="fa fa-star fa-lg"></i>
                                <span></span><br />
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
</div>