@model WebSite.EndPoint.Models.CompanyViewModel.CompanyDetailVM
@{
    ViewData["Title"] = "CompanyDetail";
    ViewData["SelectedHome"] = "Company";
}

<div class="body-default container">
    <!-- Company Section -->
    <section class="padding0">
        <div class="CompanyDetailPos">
            @*//foreach data here*@
            <div class="card">
                <div class="row mt-2">
                    <div class="col-md-3 my-2 center-align">
                        @if (!string.IsNullOrEmpty(Model.LogoRout))
                        {
                            <img src="@Model.LogoRout" class="img-fluid companyLogo">
                        }
                        else
                        {
                            <div class="companyLogo"></div>
                        }
                        <p>@Model.Name</p>
                    </div>
                    <div class="col-md-8 my-2">
                        <div class="companyInfo">
                            <i class="fa fa-user fa-lg"></i><span class="p-2">@Model.ManagerName</span>
                            <br />
                            <i class="fa fa-phone fa-lg"></i><span class="p-2">@Model.Tel</span>
                            <br />
                            <i class="fa fa-map"></i><span class="p-2">@Model.Address</span>
                            <br />
                            <i class="fa fa-envelope"></i><span class="p-2">@Model.Email</span>
                            <br />
                            <i class="fa fa-globe fa-lg"></i><span class="p-2">@Model.Website</span>
                            <br />
                            <i class="fa fa-star fa-lg"></i><span class="p-2">@Model.Information</span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.About))
        {
            <div class="card">
                <div class="row mt-2">
                    <div class="col-md-2 my-2 center-align">
                        <p class="about-Color">درباره شرکت:</p>
                    </div>
                    <div class="col-md-9 my-2">
                        <p class="aboutCompany">
                            @Model.About
                        </p>
                    </div>
                </div>
            </div>

        }
        <div class="row">
            @if (Model.CompanyPictures != null && Model.CompanyPictures.Count > 0)
            {
                <div class="col-md-6 my-2">
                    <div class="card blog-height">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            @if (Model.CompanyPictures != null && Model.CompanyPictures.Count > 0)
                            {
                                <div class="carousel-inner">
                                    @{
                                        int c = 0;
                                        foreach (var item in Model.CompanyPictures)
                                        {
                                            <div class="img-video-width carousel-item @(c==0?"active":"")">
                                                <img src="@item" class=" img-fluid d-block w-100 productImg" alt="...">
                                            </div>
                                            c++;
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            }
            @if (!string.IsNullOrEmpty(Model.TeaserGuid))
            {
                <div class="col-md-6 my-2">
                    <div class="card blog-height">
                        <video class="blog-video" muted src="@Model.TeaserGuid" controls>
                        </video>
                    </div>
                </div>

            }
        </div>
    </section>
    <!-- Product Section -->
    <section class="padding0">
        <div class="card productSection">
            <p>محصولات</p>
        </div>
        <div class="row">
            @* foreach products here *@
            <div class="col-md-6">
                <form asp-action="SearchCompanyProduct" asp-controller="Company">
                    <div class="row mt-2">
                        <input hidden name="companyId" value="@Model.Id" />
                        <div class="col-md-8 my-2">
                            <input name="name" class="card searchProduct p-1" placeholder="نام محصول را وارد کنید:" />
                        </div>
                        <div class="col-md-4 my-2">
                            <button class="card btnSearch">
                                جستجو
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @if (Model.Products != null)
            {
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-4 my-2">
                        <div class="card productCard">
                            <a href="@Url.Action("ProductDetail","Product",new{productId=item.Id})"
                               class="productDetailLoc"><span class="productDetail">اطلاعات محصول</span></a>
                            <div class="productCard1">
                                <a class="productDetailLoc"><span class="productName">@item.Name</span></a>
                                <div class="productCard2 @(!string.IsNullOrEmpty(item.PictureFileName) ? "hasImg":"")">
                                    @if (!string.IsNullOrEmpty(item.PictureFileName))
                                    {
                                        <img class="img img-fluid productCard2" src="@item.PictureFileName" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</div>