<!DOCTYPE html>
<html dir="rtl"  lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="Responsive one page HTML template">
    <meta name="author" content="Netcopy">
    <title>انجمن سازندگان قطعات موتور سیکلت – AMPMI</title>
    <!-- BOOTSTRAP CSS -->
    <link href="~/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css" type="text/css" />
    <!-- LIGHTBOX CSS -->
    <link rel="stylesheet" href="~/css/lightbox.min.css" type="text/css" />
    <!-- YTPLAYER CSS -->
    <link rel="stylesheet" href="~/css/mb.YTPlayer.min.css" type="text/css" />
    <!-- FLATICON CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css" />
    <!-- BOOTSTRAP VALIDATOR CSS -->
    <link rel="stylesheet" href="~/css/validator.min.css" type="text/css" />

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/CustomLogin.css" rel="stylesheet" />
    <link href="~/css/CustomDashboard.css" rel="stylesheet" />
    @await RenderSectionAsync("CSS", required: false)
</head>
<body data-spy="scroll" data-offset="62">

    <nav style=" background-color: rgba(0, 0, 0, 0.8);" class="navbar navbar-expand-lg bg-body-tertiary navbar-sticky">
        <div class="container-fluid">
            <a class="navbar-brand primary-logo" style="max-width: 250px;" href="/">
                <img class="img-fluid" src="~/images/logo01.png" alt="Logo" />
            </a>
            <a class="navbar-brand sticky-logo" style="max-width: 250px;" href="/">
                <img class="img-fluid" src="~/images/logo01.png" alt="Logo" />
            </a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                @* <span class="navbar-toggler-icon"></span> *@
                <i style="color:#fff;" class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <div class="collapse navbar-collapse" style="justify-content:space-around;" id="navbarNav">
                <ul class="navbar-nav ml-auto list">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #fff" class="nav-link" href="@Url.Action("CompanyList","Company")">قطعه سازان</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #fff" class="nav-link" href="@Url.Action("BlogList","Blog")">اخبار انجمن</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #fff" class="nav-link" href="@Url.Action("Index","AboutUs")">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #fff" class="nav-link" href="@Url.Action("ContactUs","ContactUs")">تماس با ما</a>
                    </li>
                </ul>

                <!-- Right Account Section -->

            </div>
             @await Component.InvokeAsync("Profile") 


@*             <div class="me-5 align-items-center dropdown">
                <a href="@Url.Action("Login","Login")" title="حساب کاربری من" class="text-white">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-content">
                    <a href="@Url.Action("Panel","CompanyPanel",new {area ="Company"})">داشبورد</a>
                    <a href="@Url.Action("NotifList","Notification",new {area ="Company"})">اعلان‌ها</a>
                </div>
            </div> *@
@*             <div style="width:15%;" class="me-5 d-flex align-items-center">
                    <a 
                        href="@Url.Action("Login","Login")" 
                        title="ثبت‌نام/ورود"
                        class="text-white">ثبت‌نام/ورود
                    </a>
            </div> *@
        </div>
    </nav>
    <div class="">
        @RenderBody()
    </div>
    <!-- Contact Section Start -->
    <section style=" border-style: solid;border-width: 2px 0px 0px 0px; border-color: #09b9bb;" class="contact-section" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4">
                    <p class="text-justify">
                        هیئت مدیره انجمن تولیدکنندگان قطعات مجموعه های موتورسیکلت و دوچرخه با دعوت از کلیه فعالان صنعتی در این بخش جهت حضور و مـشارکت فعال در ساماندهی انجمن و تشکیل کارگروه‌های لازم و عقـدقراردادهای تاَمین قطعـات با سازندگان موتورسـیکلت و دوچرخه ، تقاضای استفاده مؤثر و حداکثری از شرایط بسیار مساعد پیش رو را درخواست می نماید.
                    </p>
                </div>
                <div class="col-sm-4">

                    <h4 style="margin-top:0;">

                        لینک‌های مهم
                    </h4>

                    <ul class="sub-sub-menu contact-mail" style="list-style-type : none; padding-right:0;">

                        <li class="item-with-label item-label-primary">
                            <a href="@Url.Action("Index","Home")">
                                صفحه اصلی
                            </a>
                        </li>

@*                         <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/">

                                تماس با ما
                            </a>
                        </li> *@

                        <li class="item-with-label item-label-primary">
                            <a href="@Url.Action("Index","AboutUs")">

                                درباره ما
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="@Url.Action("CompanyList","Company")">
                                قطعه‌سازان
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact-number col-sm-4">
                    <h4 style="margin-top:0;">

                        دسترسی‌های کاربر
                    </h4>

                    <ul class="sub-sub-menu" style="list-style-type : none;padding-right:0;">

                        <li class="item-with-label item-label-primary">
                            <a href="@Url.Action("Login","Login")">
                                ثبت نام
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="@Url.Action("Login","Login")">
                                ورود
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            تمامی حقوق متعلق به انجمن قطعه سازان موتور سیکلت ایران می‌باشد.
        </div>
    </footer>
    <!-- .main-wrap -->
    <!-- JQUERY LIBRARY -->
    <script src="~/js/jquery.min.js"></script>
    <!-- JavaScript Bootstrap Bundle (شامل jQuery و Popper) -->
    <script src="~/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <!-- OWL CAROUSEL JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- APPEARS JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- EASING JS -->
    <script src="~/js/jquery.easing.min.js"></script>
    <!-- STELLAR JS -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- COUNTER JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- ISOTOPE JS -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- LIGHTBOX JS -->
    <script src="~/js/lightbox.min.js"></script>
    <!-- YTPLAYER JS -->
    <script src="~/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- BOOTSTRAP VALIDATOR JS -->
    <script src="~/js/validator.min.js"></script>
    <script src="~/js/theme.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
