@using WebSite.EndPoint.Areas.Admin.Models.Company
@model List<CompanyVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container-fluid">
    <div class="pageName">
        <a href="@Url.Action("UserList","User")" class="textPage">لیست کاربران</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a id="new" href="#"> <img class="img-Icon" src="~/images/addition copy.png" /></a>
           <!-- #region name -->

            @*  فرم زیر رو گداشتم همینجوری باشه تا تکلیف نحوه اضافه کردن کاربر جدید رو بدونم بعد تصمیم بگیریم *@

            @*  <a hidden id="save" href="#"> <img class="img-Icon" src="~/images/diskette copy.png" /></a>
            <a hidden id="cancle" href="#"><img class="img-Icon" src="~/images/cancel.png" /></a>
            <!-- Form to create a new notification -->
            <form id="newForm" asp-area="Admin" asp-controller="Notification" asp-action="Create" method="post" hidden>
                <div class="form-group">
                    <label for="Subject" style="float:right;">موضوع اعلان:</label>

                    <input type="text" id="Subject" name="subject" class="form-control input-text" placeholder="موضوع اعلان را وارد کنید" />
                </div>
                <div class="form-group">
                    <label for="Description" style="float:right;">متن اعلان:</label>
                    <textarea id="Description" name="description" class="form-control input-text" rows="5" placeholder="متن متن را وارد کنید"></textarea>

                </div>
            </form> *@

<!-- #endregion -->
          
        </div>
        <table id="userable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام شرکت</th>
                    <th>ایمیل</th>
                    <th>شماره موبایل</th>
                    <th>نقش</th>
                    <th>درخواست تأمین کننده</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>

                @{
                    const string user = "کاربر";
                    const string company = "تولید کننده";
                    long rowIndex = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="td-Icon">@rowIndex</td>
                        <td class="td-Icon">@item.Name</td>
                        <td class="td-Icon">@item.Email</td>
                        <td class="td-Icon">@item.MobileNumber</td>
                        <td class="td-Icon">
                            @if (item.IsCompany)
                            {
                                @user
                            }
                            else
                            {
                                @company
                            }
                        </td>
                        <td class="td-Icon">

                            <input type="checkbox"
                            @(item.SendRequst ? "checked" : "")
                                   disabled />

                        </td>

                        <td class="td-Icon">
                            <a href="@Url.Action("EditUser","User" , new{area= "Admin" , id = item.Id})">
                                <img class="img-Icon" src="~/images/editing.png" />
                            </a>
                        </td>
                        <td class="td-Icon">
                            <a href="@Url.Action("DeleteUser","User" , new{area= "Admin" , id = item.Id})">
                                <img class="img-Icon" src="~/images/recycle.png" />
                            </a>
                        </td>

                    </tr>
                    rowIndex++;
                }


            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        document.querySelector('#userable')
            .setAttribute('dir', 'rtl');
        //new DataTable('#userable');

        // new DataTable('#myTable');
        $('#myTable').DataTable({
                language: {
                    "emptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                    "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "infoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                    "infoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                    "lengthMenu": "نمایش _MENU_ رکورد در هر صفحه",
                    "loadingRecords": "در حال بارگذاری...",
                    "processing": "در حال پردازش...",
                    "search": "جستجو:",
                    "zeroRecords": "رکوردی با این مشخصات پیدا نشد",
                    "paginate": {
                        "first": "اولین",
                        "last": "آخرین",
                        "next": "بعدی",
                        "previous": "قبلی"
                    },
                    "aria": {
                        "sortAscending": ": فعال‌سازی مرتب‌سازی صعودی",
                        "sortDescending": ": فعال‌سازی مرتب‌سازی نزولی"
                    }
                }
            });

        // لطفا پاک نکنید فغلا
        // $("#new").click(function(){
        //     $("#newForm").show();
        //     $("#save").show();
        //     $("#cancle").show();
        // });


        // function DeleteRow(event){
        //     var isConfirmd= confirm("آیا از حذف این ردیف اطمینان دارید ؟")
        //     if(!isConfirmd){
        //         event.preventDefault();
        //         return false;
        //     }
        //     else{
        //         return true;
        //     }

        // }

        // function HideForm()
        // {
        //     $("#newForm").hide();
        // }

        // $("#save").click(function(){
        //     HideForm();
        // });

        // $("#cancle").click(function(){
        //     HideForm();
        //     $("#save").hide();
        //     $("#cancle").hide();
        // });
        //  $("#save").click(function (event) {
        //     event.preventDefault();
        //     $("#newForm").submit();
        // });


        // $("#cancle").click(function (event) {
        //     event.preventDefault();
        //     $("#newForm").hide();
        // });
    </script>

}