@using WebSite.EndPoint.Areas.Admin.Models.Company
@model List<CompanyVM>
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container-fluid">
    <div class="pageName">
        <a href="@Url.Action("UserList","User")" class="textPage">لیست کاربران</a>
    </div>
   @*  <div class="row">
        <a href="@Url.Action("EditUser","User")" id="new"> <img class="img-Icon" src="~/images/addition copy.png" /> </a>
    </div> *@
    <div class="row">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام شرکت</th>
                    <th>ایمیل</th>
                    <th>شماره موبایل</th>
                    <th>نقش</th>
                    <th>درخواست تأمین کننده</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                        int row = 1;
                        const string user = "کاربر";
                        const string company = "تولید کننده";
                    }
                    @foreach (var item in Model)
                    {
                        <td class="td-Icon">@row</td>
                        <td class="td-Icon">@item.Name</td>
                        <td class="td-Icon">@item.Email</td>
                        <td class="td-Icon">@item.MobileNumber</td>
                        <td class="td-Icon">
                            @if (item.IsCompany)
                            {
                                @user
                            }
                            else
                            {
                                @company
                            }
                        </td>
                        <td class="td-Icon">

                            <input type="checkbox"
                            @(item.SendRequst ? "checked" : "")
                                   disabled />

                        </td>

                        <td class="td-Icon">
                            <a href="@Url.Action("EditUser","User" , new{area= "Admin" , id = item.Id})">
                                <img class="img-Icon" src="~/images/editing.png" />
                            </a>
                        </td>
                        <td class="td-Icon">
                            <a href="@Url.Action("DeleteUser","User" , new{area= "Admin" , id = item.Id})">
                                <img class="img-Icon" src="~/images/recycle.png" />
                            </a>
                        </td>
                        row++;
                    }

                </tr>
               
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        new DataTable('#myTable');

    </script>


}