@model List<WebSite.EndPoint.Areas.Company.Models.NotifVM>
@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
}
@section CSS
{
    <style>
        .notSeenNotif{
            border: 2px solid black!important;
            font-weight: bold;
        }
    </style>
}
<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">اعلان‌ها</span>
    </div>
    @foreach (var item in Model)
    {
        // TODO : یک کلاس مشخص برای زمانی که اعلان مشاهده شده باشد (IsSeen) ساخته شود
        <div class="row my-2 parent @(item.IsSeen?"":"notSeenNotif")" 
                style="border: 2px solid #D9D9D9;padding:20px;margin-bottom: 30px; border-radius:5px; margin-top:20px">
            <div style="display: flex;justify-content: space-between;">
                <h4>@item.Subject</h4>
                <div>
                    <p>
                        <i class="fa fa-calendar"></i>
                        @(item.CreateAt.Year+"/"+item.CreateAt.Month+"/"+item.CreateAt.Day)
                    </p>
                </div>
            </div>
            <div class="notifContent">
                <p>
                    @item.Subject
                </p>
                <p hidden class="more">
                    @item.Description
                </p>
            </div>
            <hr />
            <div style="float:left;">
                <input class="NotifId" hidden value="@item.Id" />
                @if (item.IsSeen)
                {
                    <button type="button" class="btn-submit btnUpload" onclick="ShowMore(this,0)">نمایش بیشتر</button>
                }
                else
                {
@*                     <a href="@Url.Action("SeenNotif","Notification",new{area = "Company",notifId = item.Id })" onclick="ShowMore(this,t)" class="btn btn-primary ajaxButton">نمایش بیشتر</a>
 *@
                    <button type="button" class="btn-submit btnUpload ajaxButton" onclick="ShowMore(this,1)">نمایش بیشتر</button>
                }
            </div>
        </div>
        
    }

@*     <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
 *@

</div>
@section Scripts
{
    <script>
        function ShowMore(button,callAjax)
        {
            const parent = $(button).closest(".parent");
            if(parent!=null)
            {
                const moreBox = parent.children(".notifContent").children(".more");
                moreBox.show();
                $(button).hide();
                if(callAjax==1)
                {
                    var id = $(button).parent().children(".NotifId").val();
                    if(id>0){
                        CallAction(id);
                        $(parent).removeClass("notSeenNotif");
                    }
                }
            }
        }

        function CallAction(id)
        {
            $.ajax({
                url: 'SeenNotif', // مسیر اکشن
                type: 'GET',
                data: { notifId: id }, // ارسال پارامتر به‌صورت کوئری استرینگ
                error: function (xhr) {
                    console.log("Error: " + xhr.statusText);
                }
            });
        }
    </script>
}