@model List<WebSite.EndPoint.Areas.Company.Models.NotifVM>
@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
    ViewData["SelectedCompany"] = "Notif";
}
@section CSS
{
    <style>
        .notSeenNotif{
            border: 2px solid black!important;
            font-weight: bold;
        }
    </style>
}
<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">اعلان‌ها</span>
    </div>
    @if(Model == null || Model.Count == 0)
    {
        <p style="margin:20px;">اعلانی برای نمایش وجود ندارد</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="row my-2 notif parent @(item.IsSeen?"":"notSeenNotif")">
                <div style="display: flex;justify-content: space-between;">
                    <h4>@item.Subject</h4>
                    <div>
                        <p>
                            <i class="fa fa-calendar"></i>
                            @(item.CreateAt.Year + "/" + item.CreateAt.Month + "/" + item.CreateAt.Day)
                        </p>
                    </div>
                </div>
                <div class="notifContent">
                    <p>
                        @item.Subject
                    </p>
                    <p hidden class="more">
                        @item.Description
                    </p>
                </div>
                <hr />
                <div style="float:left;">
                    <input class="NotifId" hidden value="@item.Id" />
                    @if (item.IsSeen)
                    {
                        <button type="button" class="btn-submit btnUpload" onclick="ShowMore(this,0)">نمایش بیشتر</button>
                    }
                    else
                    {
                        <button type="button" class="btn-submit btnUpload ajaxButton" onclick="ShowMore(this,1)">نمایش بیشتر</button>
                    }
                </div>
            </div>

        }

    }
</div>
@section Scripts
{
    <script>
        function ShowMore(button,callAjax)
        {
            const parent = $(button).closest(".parent");
            if(parent!=null)
            {
                const moreBox = parent.children(".notifContent").children(".more");
                moreBox.show();
                $(button).hide();
                if(callAjax==1)
                {
                    var id = $(button).parent().children(".NotifId").val();
                    if(id>0){
                        CallAction(id);
                        $(parent).removeClass("notSeenNotif");
                    }
                }
            }
        }

        function CallAction(id)
        {
            $.ajax({
                url: 'SeenNotif', // مسیر اکشن
                type: 'GET',
                data: { notifId: id }, // ارسال پارامتر به‌صورت کوئری استرینگ
                error: function (xhr) {
                    console.log("Error: " + xhr.statusText);
                }
            });
        }
    </script>
}