@model WebSite.EndPoint.Models.Blog.BlogDetailVM
@{
    ViewData["SelectedHome"]="Blog";
}
<div class="body-default container">
    <p>وبلاگ</p>
    <h2>@Model.Subject</h2>
    <div class="blog-div-img">
        <img class="img-fluid blog-img" style="" src="@Model.HeaderPictureFileName" />
    </div>
    <div class="row">
        @Html.Raw(Model.Description)
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.VideoFileName)){
            <div class="col-md-6 my-2">
                <div class="card blog-height">
                    <video class="blog-video" muted src="@Model.VideoFileName" controls>
                    </video>
                </div>
            </div>
        }
        @if (Model.BlogPictures != null && Model.BlogPictures.Count > 0)
        {
            <div class="col-md-6 my-2">
                <div class="card blog-height">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            @{
                                int c = 0;
                                foreach (var item in Model.BlogPictures)
                                {
                                    <div class="img-video-width carousel-item @(c==0?"active":"")">
                                        <img src="@item" class=" img-fluid d-block w-100 productImg" alt="...">
                                    </div>
                                    c++;
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>

            </div>
        }
    </div>
</div>
