@model WebSite.EndPoint.Models.Blog.BlogDetailVM
<div class="body-default container">
    <p>وبلاگ</p>
    <h2>@Model.Subject</h2>
    <div class="row">
        <img class="img-fluid" src="@Model.HeaderPictureFileName" />
    </div>
    <div class="row">
        @Html.Raw(Model.Description)
    </div>
    <div class="row">
        <div class="col-md-6 my-2">
            <div class="card" style="height:300px;">
                <video muted src="@Model.VideoFileName" controls>
                </video>
            </div>
        </div>
        <div class="col-md-6 my-2">
            <div class="card" style="height:300px;">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model.BlogPictures != null)
                        {
                            int c = 0;
                            foreach (var item in Model.BlogPictures)
                            {
                                <div class="carousel-item @(c==0?"active":"")">
                                    <img style="aspect-ratio: 16 / 9;" src="@item" class=" img-fluid d-block w-100" alt="...">
                                </div>
                                c++;
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
