@model WebSite.EndPoint.Models.HomeViewModel.HomeVM
@{
    ViewData["Title"] = "HomePage";
    ViewData["SelectedHome"] = "Home";
}


<!-- Page Loader -->
<div class="page-loader"></div>

<!-- Theme Header Start -->
<header id="home" class="full-height bg-img" data-src="/images/backgrounde.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="section-title">
                            <h1 style="font-size: x-large;" class="section-title-divider animated zoomIn">انجمن قطعه‌سازان موتورسیکلت ایران</h1>
                            <h6>Association of Motorcycle Parts Manufacturers in Iran</h6>
                        </div>
                        <div class="container">
                            <div class="text-right" style="padding: 0 1em;">
                                <div class="subscribe-form">
                                    <form id="search-form" method="post" asp-action="SearchProduct" asp-controller="Product" class="subscribe-form">
                                        <div class="input-group subscribe-box d-flex">
                                            <input type="text"
                                            style="height:auto;border-radius: 0; border-top-right-radius: 25px; border-bottom-right-radius: 25px;"
                                            class="form-control" name="name" autocomplete="off" id="mcemail"
                                            placeholder="نام موتور سیکلت، قطعه یا سازنده را جستجو نمایید ...">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" style="border-radius:0;padding:14px 20px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                   دسته‌بندی
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    @foreach (var item in Model.Categories)
                                                    {
                                                        <li><a class="dropdown-item" data-value="@item.Id" href="#">@item.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <input hidden id="categorySelected" name="categorySelected" />
                                            <button style="padding: 14px 20px; border-radius:0; border-top-left-radius: 25px; border-bottom-left-radius: 25px;"
                                            class="btn btn-default subscribe-btn" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Theme Header End -->
<!-- Service Section Start -->
<section class="padding-bottom-50" id="service">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h4 class="section-title-divider primary-divider">دسته بندی موتور سیکلت</h4>
                </div>
            </div>
        </div>
        <div class="row service-box-wrap">
            @foreach (var item in Model.Categories)
            {
                <div class="col-md-3 col-sm-6 service-box-col">
                    <a href="@Url.Action("CategoryProductsList","Product",new {categoryId=item.Id})">
                        <figure>
                            <div class="service-image category-Pic">
                                <img class="img img-fluid category-Pic" src="@item.PictureFileName" />
                            </div>
                        </figure>
                        <h6 class="service-title title-bordered">@item.Name</h6>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- Service Section End -->
<!-- Banner Section Start -->
@if (Model.Banners != null && Model.Banners.Count > 0 && Model.Banners.Any(m=>!string.IsNullOrEmpty(m.Rout))) 
{
    <section class="padding-bottom-50" id="features">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h4 class="section-title-divider primary-divider">بنر</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-0">
                @{
                    string cssClass = "";
                    int counter = 0;
                    foreach(var item in Model.Banners){
                        if (!string.IsNullOrEmpty(item.Rout))
                            counter++;
                    }
                    if (counter == 3)
                        cssClass = "col-md-4";
                    else if (counter == 2)
                        cssClass = "col-md-6";
                }
                @foreach (var item in Model.Banners)
                {
                    @if(!string.IsNullOrEmpty(item.Rout)){
                        <div class="@cssClass">
                            <div class="media feature-box">
                                <div class="media-left">
                                </div>
                                @if (item.Type == AQS_Domin.Entities.BannerTypeEnum.Video)
                                {
                                    <div class="media-body">
                                        <video loop autoplay class="banner" muted src="@item.Rout"></video>
                                    </div>
                                }
                                else if (item.Type == AQS_Domin.Entities.BannerTypeEnum.Image){
                                    <img class="banner" src="@item.Rout" />
                                }
                                <!-- Image is remain -->
                            </div>
                        </div>

                    }
                }            
            </div>
        </div>
    </section>

}
<!-- Banner Section End -->
<!-- Service Section Start -->
@if(Model.Companies != null && Model.Companies.Count > 0){
    <section class="padding-bottom-50" id="service2">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h4 class="section-title-divider primary-divider">قطعه سازان</h4>
                    </div>
                </div>
            </div>
            <div style="direction : ltr;" class="owl-carousel">
                @foreach (var item in Model.Companies)
                {
                    @if (!string.IsNullOrEmpty(item.Logo))
                    {
                        <div class="service-box-col">
                            <figure>
                                <div class="service-image category-Pic">
                                    <a href="@Url.Action("CompanyDetail","Company",new {companyId=item.Id})">
                                        <img class="img-fluid category-Pic" src="@item.Logo" />
                                    </a>
                                </div>
                                <h6 class="service-title title-bordered">@item.Name</h6>
                            </figure>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

}

<!-- Service Section End -->
<!-- Blog Section Start -->
@if(Model.Blogs != null && Model.Blogs.Count > 0){
    <section class="padding-bottom-50" id="blog">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="section-title">
                        <h4 class="section-title-divider primary-divider">آخرین مطالب</h4>
                        <!-- SECTION TITLE -->
                        @*                     <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p> *@
                    </div>
                </div>
            </div>
            <div class="row mb-0">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-md-4">
                        <div class="blog-wrap">
                            @if (!string.IsNullOrEmpty(item.HeaderPictureFileName))
                            {
                                <div class="blog-image">
                                    <img alt="" src="@item.HeaderPictureFileName" class="img-fluid" style="width:100%" />
                                </div>
                            }
                            <div class="blog-data">
                                <div class="blog-meta">
                                    <ul class="list-inline">
                                        <li>@string.Format("{0}/{1}/{2}", item.CreateUpdateAt.Value.Year, item.CreateUpdateAt.Value.Month, item.CreateUpdateAt.Value.Day)</li>
                                    </ul>
                                </div>
                                <div class="blog-title">
                                    <h3>@item.Subject</h3>
                                </div>
                                <div class="blog-content">
                                    @item.Description
                                </div>
                                <a class="btn btn-outline-secondary btn-xl mt-3" href="@Url.Action("ShowBlog","Blog",new{id=item.Id})">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>

}
<!-- Blog Section End -->
@section Scripts
{
    <!-- THEME JS -->
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:4,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:3,
                    nav:false
                },
                1000:{
                    items:4,
                    nav:true,
                    loop:true
                }
            }
        });

        $(".dropdown-item").on('click',function(){
            var selectedId = $(this).data("value");
            var selectedName = $(this).text();
            $("#dropdownMenuButton").text(selectedName);
            $("#categorySelected").val(selectedId);
        });


    </script>

}

