@model WebSite.EndPoint.Models.ProductViewModel.ProductDetailVM

<div class="body-default container">
    <div class="row mb-4 px-3 py-4" style="border-radius:15px;box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);">
        <!--نمایش روتینگ بالای محصول-->
        <span>
            <a class="d-inline" href="/">خانه</a>
            <span class="px-2">/</span>
            <a class="d-inline" href="@Url.Action("CategoryProductsList","Product",new {categoryId=Model.CategoryId})">@Model.CategoryName</a>
            <span class="px-2">/</span>
            <a class="d-inline">@Model.Name @Model.CompanyName</a>
        </span>

    </div>
    <div class="row py-5 px-4" style="border-radius:15px;box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);">
        <div class="col-md-6">
            <div id="ProductCompany" style="display:flex;align-items:center;">
                <div class="me-4">
                    <a href="@Url.Action("CompanyDetail","Company",new {Model.CompanyId})">
                        <!--CompanyLogo-->
                        <img style="width:80px;height:80px;border-radius: 50%;" src="@Model.CompanyLogoRout" class="img-fluid" />
                    </a>
                </div>

                <div>
                    <a href="@Url.Action("CompanyDetail","Company",new {Model.CompanyId})">
                        <h4>@Model.CompanyName</h4>
                    </a>
                </div>
            </div>
            <div class="mt-5" id="ProductDetail">
                <h3>@Model.Name</h3>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <!--ProductPicture-->
            <img src="@Model.PictureFileName" class="img-fluid rounded" />
        </div>
    </div>
</div>