@model WebSite.EndPoint.Models.ProductViewModel.ProductDetailVM
@section CSS
{
    <style>
        .routing {
            border-radius: 15px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        }
        .logo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .productPic {
            width: 70%;
            height: 300px;
            justify-content: center;
            margin-right: 15%;
        }
        .productImg {
            padding-right: 30%;
            max-height: 290px;
        }
    </style>
}
<div class="body-default container">
    <div class="row mb-4 px-3 py-4 routing">
        <!--نمایش روتینگ بالای محصول-->
        <span>
            <a class="d-inline" href="/">خانه</a>
            <span class="px-2">/</span>
            <a class="d-inline" href="@Url.Action("CategoryProductsList","Product",new {categoryId=Model.CategoryId})">@Model.CategoryName</a>
            <span class="px-2">/</span>
            <a class="d-inline">@Model.Name @Model.CompanyName</a>
        </span>

    </div>
    <div class="row py-5 px-4 routing">
        <div class="col-md-7">
            <div id="ProductCompany" style="display:flex; align-items:center;">
                <div class="me-4">
                    <a href="@Url.Action("CompanyDetail","Company",new {Model.CompanyId})">
                        <!--CompanyLogo-->
                        <img src="@Model.CompanyLogoRout" class="img-fluid logo" />
                    </a>
                </div>

                <div>
                    <a href="@Url.Action("CompanyDetail","Company",new {Model.CompanyId})">
                        <h4>@Model.CompanyName</h4>
                    </a>
                </div>
            </div>
            <div class="mt-5" id="ProductDetail">
                <h3>@Model.Name</h3>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card productPic">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model.PictureFileName != null)
                        {
                            int c = 0;
                            foreach (var item in Model.PictureFileName)
                            {
                                <div class="carousel-item @(c==0?"active":"")" style="width:80%">
                                    <img src="@item" class="img-fluid d-block w-100 productImg" alt="...">
                                </div>
                                c++;
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!--ProductPicture-->
            @* <img src="@Model.PictureFileName" class="img-fluid rounded" /> *@
        </div>
    </div>
</div>