@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <p id="errorMsg" class="alert alert-danger">@TempData["ErrorMessage"]</p>

}

@if (TempData["SuccessMessage"] != null)
{
    <p id="successMsg" class="alert alert-success">@TempData["SuccessMessage"]</p>

}

@if (Model.ErrorMessage == "کاربر یافت نشد" && Model.ErrorMessage != null)
{
    <p id="modelErrorMsg" class="alert alert-danger">کاربر یافت نشد</p>

}

<div class="wrapper default">
    
    <div class="body-default container">
       
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box pb-2">
                    <div class="account-box-title text-right">ثبت نام</div>
                    <div class="account-box-content">
                        <form asp-controller="Login" asp-action="ConfirmOTP" method="post" class="form-account">
                            <div class="form-account-title">شماره موبایل</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input readonly class="input-field" name="mobile" value="@Model.Mobile" type="text">
                                <input type="hidden" name="mobile" value="@Model.Mobile">
                            </div>
                            <div class="form-account-title">کد تایید</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>
                                <input class="input-field" name="userOtp" type="number" placeholder="کد تایید را وارد نمایید">
                            </div>
                            @if (string.IsNullOrEmpty(Model.ErrorMessage)){
                                <div class="a-btn-center">
                                    <div><span id="timer" class="timer"></span></div>
                                </div>
                            }
                            <div>
                                @if (Model.ErrorMessage != "کاربر یافت نشد")
                                {
                                    <p class="text-danger">@Model.ErrorMessage</p>
                                }
                                
                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ثبت کد تایید
                                        <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        @{
                            if (Model.ErrorMessage == "مدت زمان استفاده از کد به پایان رسیده است.")
                            {
                                <div class="d-flex justify-content-between mb-3">
                                    <a href="@Url.Action("ResendOtp","Login",new {mobile = Model.Mobile})" class="btn-link-border">ارسال مجدد کد تایید</a>
                                    <a href="@Url.Action("Login","Login")" class="btn-link-border">بازگشت به صفحه ورود</a>
                                </div>
                            }
                            else
                            {
                                <div class="mb-3">
                                    <a href="@Url.Action("Login","Login")" class="btn-link-border">بازگشت به صفحه ورود</a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        let timerOn = true;
        function timer(remaining){
          var m = Math.floor(remaining / 60);
          var s = remaining % 60;

          m = m < 10 ? '0' + m : m;
          s = s < 10 ? '0' + s : s;
          document.getElementById('timer').innerHTML = m + ':' + s;
          remaining -= 1;

          if(remaining >= 0 && timerOn) {
            setTimeout(function() {
                timer(remaining);
            }, 1000);
            return;
          }

          if(!timerOn) {
            // Do validate stuff here
            return;
          }
        }

        timer(120);


        setTimeout(function() {
            var errorMsg = document.getElementById("errorMsg");
            if (errorMsg) {
                errorMsg.style.display = "none";
            }
        }, 5000);  // 5000 میلی‌ثانیه = 5 ثانیه
         setTimeout(function() {
            var successMsg = document.getElementById("successMsg");
            if (successMsg) {
                successMsg.style.display = "none";
            }
        }, 5000);  // 5000 میلی‌ثانیه = 5 ثانیه
        setTimeout(function() {
            var modelErrorMsg = document.getElementById("modelErrorMsg");
            if (modelErrorMsg) {
                modelErrorMsg.style.display = "none";
            }
        }, 5000);  // 5000 میلی‌ثانیه = 5 ثانیه
    </script>
}



